node_modules
dist/swipl/*.js
dist/swipl/swipl-web.data
dist/swipl/swipl-web.wasm
dist/swipl/swipl-web-no-data.wasm
examples/no-data-image.pvm
examples/webpack/node_modules
examples/webpack/public/*.data
examples/webpack/public/*.wasm
examples/webpack/public/*.js
dist/util.js
dist/util.d.ts
dist/loadImage.js
dist/loadImage.d.ts
dist/loadImageDefault.js
dist/loadImageDefault.d.ts
dist/loadImageWeb.js
dist/loadImageWeb.d.ts
dist/generateImage.js
dist/generateImage.d.ts
dist/strToBuffer.js
dist/strToBuffer.d.ts
bundle
