node_modules
dist/swipl/*.js
dist/swipl/swipl-web.data
dist/swipl/swipl-web.wasm
examples/webpack/node_modules
examples/webpack/public/*.data
examples/webpack/public/*.wasm
examples/webpack/public/*.js
