name: Update non-npm dependencies
on:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  update:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dependency: ['swipl', 'emsdk', 'zlib', 'gmp']

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          # Consider using lts
          node-version: 18.x
      - name: Commit latest release version
        run: |
          yarn install

          pth=".config.${{ matrix.dependency }}.version"

          before=$(cat ./package.json | jq "$pth")
          yarn run "update:dep:${{ matrix.dependency }}"
          current=$(cat ./package.json | jq "$pth")

          readarray -d . -t before <<<"${before:1:-1}"
          readarray -d . -t after <<<"${current:1:-1}"

          if   [ ! ${before[0]} == ${after[0]} ]
          then
            version="BREAKING CHANGE"
            branchHead="breaking"
          elif [ ! ${before[1]} == ${after[1]} ]
          then
            version="feat"
            branchHead="feat"
          elif [ ! ${before[2]} == ${after[2]} ]
          then
            version="fix"
            branchHead="fix"
          fi

          # The name of the new branch if we need to create one
          branch=$branchHead/update-${{ matrix.dependency }}-v${current:1:-1}
          msg="$version: update to ${{ matrix.dependency }} v${current:1:-1}"

          if [ $branchHead ]; then
            git config --global user.name 'Jesse Wright'
            git config --global user.email '63333554+jeswr@users.noreply.github.com'
            git checkout -b $branch
            git commit -am "$msg"
            git push --set-upstream origin $branch
            gh pr create -t "$msg" -b "$msg"
            
            if [ ! $branchHead == "breaking" ]; then
              gh pr merge $branch --auto --merge
            fi
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
